label {
    color: white;
    font-size: 25px;
    font-weight: bold;
    /* margin: 0px 50px 0px 50px; */
}

form {
    margin: auto;
    height: 400px;
    width: 600px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 70px;
}

.button {
    text-align: center;
}

.subject {
    margin-bottom: 10px;
}

.btn {
    margin: auto;
}

.optional {
    font: Arial;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: large;
}

#img1:hover, #img:hover {
    width: 35px;
    height: 35px;
}

#img1, #img2 {
    height: 30px;
    width: 30px;
    margin: 20px;
    transition-delay: 0.3s;
    transition-duration: 0.5s;
}
